@model IEnumerable<BookReviewMVC2018.Models.Book>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Reviews</h1>
    <p>Here's some book reviews for yo' sucka ass to look thru</p>
</div>

<table class="row">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.BookTitle)</th>
            <th>@Html.DisplayNameFor(model => model.BookISBN)</th>
            <th>@Html.DisplayNameFor(model => model.BookEntryDate)</th>
        </tr>
        @foreach(var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BookTitle)</td>
            <td>@Html.DisplayFor(modelItem => item.BookISBN)</td>
            <td>@Html.DisplayFor(modelItem => item.BookEntryDate)</td>
        </tr>
        }
    </table>
</div>